@font-face { 
    font-family: "pp-sans-big-light"; 
    src: url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.eot?#iefix") format("embedded-opentype"), url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.woff") format("woff"), url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/headlinedark/festivo1.ttf") format("truetype"), url("https://www.paypalobjects.com/webstatic/mktg/2014design/font/PP-Sans/PayPalSansBig-Light.svg") format("svg"); 
}
body {
    font-family: pp-sans-big-light,Helvetica Neue,Arial,sans-serif !important;
    
}
.wrapper {
    background: #e1e1e1 !important;
    width: 100%;
}
.top-header {
    margin-top:6% !important;
}
.header {
    opacity:100;
    background: #747377;
    height: 8%;
    position: fixed;
    top:0; 
    left:0;
    width: 100%; 
}
.header-widget {
    background: #fff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:1%;
    padding: 0.30em;
}
.hemm-img {
    padding: 1em; 
    height: 17em;
    width: 17em;
    border-radius: 10em;
    float: left;
}
.media-img {
    height: 4.5em;
    width: 4.5em;
    padding:1em;
    cursor: pointer;
}
.intro-section {
    padding: 1em; 
}
.name {
    font-size: 3em;
    margin-left: 1%;
}
.sub-title {
    font-size: 1.5em;
    margin-left: 1%;
}
.email-badge{
    font-size: 1.1em;
    text-decoration: none; 
    color: #006fa6;
    margin-left: 1%;
}
.left-badge {
    padding-top: 1em;
    margin-left: 1%;
    font-size: 1em;
}
.summary {
    font-size: 2em;
    padding: 0.75em;
}
.summary-info {
    font-size:1.25em;
    padding: 0.75em;
    margin-left:1%;
    margin-top: -1%;
}
.pp-logo {
    height: 6em;
    width: 8em;
    float: left;
}
.au-logo {
    height: 4em;
    width: 4em;
    float: left;
}
.zion-logo {
    height: 4em;
    width: 4.5em;
    float: left;
}
.edu-des {
    margin-left: 2%;
}
.edu-title {
    margin-left: 7%;
}
.title-name{
    font-size:1.5em;
}
.company-name{
    font-size:1.25em;
}
.duration{
    color:#747377;
}
.responsibility {
    font-size: 1.1em;
    padding: 1em;
    line-height: 2;
    margin-left: 1%;
}
.res-des {
    font-size: 1.1em;
    padding: 1em;
    line-height: 2;
    margin-left: 1%;
}
.hr-line {
    margin-left:2%;
    margin-right:2%;
}
.header-img{
    margin-left: 50%;
}
.header-logo {
    height: 5.2em;
    width: 5.3em;
    border-radius: 10em;
    padding: 1em;

}
.clear {
    height: 9%;
}
.skill-info {
    background: #e1e1e1;
    border-radius: 0.7em; 
    margin-left: 2%;
    margin-top: 2%;
}
.high-label {
    background: rgb(2, 2, 131);
    color: white;
}
.int-label {
    background: rgb(33, 33, 224);
    color: white;
}
.beg-label {
    background: rgb(71, 130, 255);
    color: white;
    margin-right: 2%;
}
.skill-detail {
    float:right;
    width: 100%;
}
.job-title {
    margin-left:2%;
}
.accom {
    background: rgb(136, 128, 24);
    border-radius: 1em;
    color: white;
    line-height: 2;
}
.gpa {
    background: rgb(136, 128, 24);
    border-radius: 1em;
    color: white;
    line-height: 2;
}